<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <meta charset="utf-8">
  <title>ランキングサイトです。</title>
</head>
<body>

<p>ランキングサイトです。</p>

    <a href ="{% url 'ranking:new' %}">新しいランキングを作る</a>
    <hr/>

    {% for reco in Recommend %}
    <div class="article_container">
      <div class="article_link">
        <a href="{% url 'ranking:rankpage' ranking_id=reco.id %}">
          <div class="article_contents">
            <h2 class="article_sentenses article_title">{{ reco.title }}</h2>
            <p class="article_sentenses article_participants">参加者:{{reco.Posts.count}}人</p>
            <p class="article_sentenses article_participants">コメント:{{reco.Posts_coment.count}}</p>
            <p class="article_sentenses article_note">{{ reco.description | truncatechars:100 }}</p>
          </div>
      </div>
      {% endfor %}
      <p><a href ="{% url 'ranking:newest_ranking' %}">最新ランキングをもっと見る</a></p>

    {% for a in create_ranking_list %}
  <div class="article_container">
    <div class="article_link">
      <a href="{% url 'ranking:rankpage' ranking_id=a.id %}">
        <div class="article_contents">
          <h2 class="article_sentenses article_title">{{ a.title }}</h2>
          <p class="article_sentenses article_participants">参加者:{{a.Posts.count}}人</p>
          <p class="article_sentenses article_participants">コメント:{{a.Posts_coment.count}}</p>
          <p class="article_sentenses article_note">{{ a.description | truncatechars:100 }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
    <p><a href ="{% url 'ranking:Soaring_ranking' %}">急上昇ランキングをもっと見る</a></p>

  </div>
<p>検索フォーム</p>
     <form method="GET" action="{% url 'ranking:search_results' %}">{% csrf_token %}
       <input type="text" name="keyword">
       <button type="submit">検索</button>
     </form>

</body>

</html>
