<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %} <!--これと下記の一文によってjavascriptを活用することが可能になった。-->
  <script src="{% static 'js/juni.js' %}" charset="utf-8"></script>
  <title>ランキングサイトです。</title>
</head>
<body>
  <h1 style="text-align: center;">{{ rankpage.title }}</h1>
  <div style="width: 70%;margin: 0px auto;">
    <div>
      <div style="margin: 60px 20px;">
        <p>↓このランキングについて↓</p>
        {{ rankpage.description }}
      </div>
      <div style="margin: 60px 20px;text-align: center">
        <!--<table border="1">
    <tr>
      <th>順位</th>
      <th>名前</th>
    　<th>{{ rankpage.element }}</th>
    </tr>
    {% for Post_rank in a %}
    <tr>
      <td>{{ Post_rank.Post_juni }}位</td>
      <td>{{ Post_rank.Post_name }}</td>
      <td>{{ Post_rank.Post_element }}</td>
    </tr>
    {% empty %}
    <p>投稿はありません</p>
    {% endfor %}
  </table> -->
</div>

<div style="text-align: center; margin-top: 50px">
  <p>投稿してランキングに参加しよう！</p>
  <p>参加すると、ランキングが見れるよ！</p>
  {% if not user.username%}
  <form action="{% url 'ranking:rankpaged' ranking_id=rankpage.id %}" method="POST">{% csrf_token %}
    <input type="text" name="Post_name" maxlength='20' required>
    <input type="number" name="Post_element" min="{{min_number}}" max="{{max_number}}" required>
    <button type="submit" class="btn">投稿</button>
  </form>
  {% else %}
      {% if not user.first_name%}
  <form action="{% url 'ranking:rankpaged' ranking_id=rankpage.id %}" method="POST">{% csrf_token %}
    <input type="hidden" name="Post_name" value={{user.username}} required>
    <input type="number" name="Post_element" min="{{min_number}}" max="{{max_number}}" required>
    <button type="submit" class="btn">投稿</button>
  </form>
      {% else %}
  <form action="{% url 'ranking:rankpaged' ranking_id=rankpage.id %}" method="POST">{% csrf_token %}
    <input type="hidden" name="Post_name" value={{user.first_name}} required>
    <input type="number" name="Post_element" min="{{min_number}}" max="{{max_number}}" required>
    <button type="submit" class="btn">投稿</button>
  </form>
      {% endif %}
  {% endif %}
  <h2>コメント一欄</h2>
  {% for i in post_coment %}
  <p>投稿者:{{i.Post_coment_name}}</p>
  <p>コメント:{{i.Post_coment_text}}</p>
  {% empty %}
  <p>投稿はありません</p>
  {% endfor %}
  <form action="{% url 'ranking:rankpage' ranking_id=rankpage.id %}" method="POST">{% csrf_token %}
    {{ Cform.as_p }}
    <button type="submit" class="btn">投稿</button> <!--onclickがsubmitより後ろだと、submitが先に起動して関数が実行されない-->
  </form>


        <a href="{% url 'ranking:index' %}">トップページに戻る</a>
      </div>
    </div>
  </div>
</body>
</html>
