:root{
  --fontsize-title: 24px;
  --fontsize-note: 16px;

  --hover-transition: 0.2;
  /* transition...default:0.2 */
  --hover-opacity: 0.5;

  --border-radius: 12px;
  /* radius...12px or 0px */
}

html, body{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
}

a{
  color: inherit;
  text-decoration: none;
}

.main{
  width:800px;
  margin:0px auto 182px;
  font-weight: 600;
  font-family: Hiragino Kaku Gothic Std;
  /* background-color: red; */
}

/* ========mainly dealing with index.html========= */

.category{
  /* width: 800px; */
  margin: 32px auto 0;
  background-color: #454545;
}

.category_title{
  margin: 0;
  padding: 8px 40px;
  color: white;
  font-size: var(--fontsize-title);
}

.article_container{
  /* width: 800px; */
  /* padding: 0 50px; */
  padding-top: 8px;
  /* margin: 0px auto; */
  /* background-color: red; */
  background-color: #f5f5f5;
}

.article_link{
  color: #363636;
  background-color: #f5f5f5;
  margin: 0;
  clear: both;
}

.article_link:hover{
  opacity: var(--hover-opacity);
}

.article_link_more{
  color: #363636;
  background-color: #f5f5f5;
  margin: 0px 0;
  clear: both;
}

.article_contents{
  height: 24px;
  padding: 8px 28px;
}

.article_contents_more{
  padding: 8px 40px 16px 40px;
}

.article_number{
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: var(--fontsize-note);
  margin: 0 0 0 12px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
}

.number1{
  background-color: gold;
}

.number2{
  background-color: silver;
}

.number3{
  background-color: #C08D5E;
}

.article_title{
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: var(--fontsize-note);
  margin: 0;
  padding: 0 12px;
}

.article_note{
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: var(--fontsize-note);
  margin: 0;
  padding: 0 12px;
  font-family: HiraKakuProN-W6;
}

.article_more{
  width: 120px;
  float: none;
  vertical-align: middle;
  font-size: var(--fontsize-note);
  margin: 0 auto;
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid #565656;
  color: #454545;
}

.article_more-a{
  display: block;
  padding: 0;
}

.article_more:hover{
  background-color: #565656;
  color: white;
}

.article_participants{
  width: 100px;
  float: right;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  font-size: var(--fontsize-note);
  font-family: HiraKakuProN-W6;
  margin: 0 12px 0 0;
  padding: 0 12px;
  border-radius: var(--border-radius);
  background-color: #878787;
  color: white;
}

/* ========mainly dealing with ranking.html========= */

.ranking{
  /* width: 800px; */
  margin: 32px auto 0;
  background-color: #454545;
}

.ranking_title{
  margin: 0;
  padding: 12px 40px 0px 40px;
  color: white;
  font-size: var(--fontsize-title);
}

.ranking_note{
  margin: 0;
  padding: 0px 40px 12px 40px;
  color: white;
  font-size: var(--fontsize-note);
  font-family: HiraKakuProN-W6;
}

/* ==== table ======*/
table{
  width : 80%;
  border: none;
  color: #363636;
  background-color: #f5f5f5;
  padding: 8px 0;
  margin: 0 auto;
}

table th, td{
  /* float: inherit; */
  height: 24px;
  border: none;
  padding: 8px 12px;
  /* float: left;
  display: inline-block; */
  vertical-align: middle;
  font-size: var(--fontsize-note);
  font-weight: bold;
  text-align: center;
  border-bottom: #d3d3d3 dotted 1px;
}

.article_number_table{
  float: none;
  display: inline-block;
  vertical-align: middle;
  font-size: var(--fontsize-note);
  margin: auto 8px auto 12px;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
}

.table_ranking_name{
  width: 300px;
  /* float: left; */
}

.table_ranking_value{
  /* float: right; */
}

/* === ranking inputform === */

.cp_iptxt {
	position: relative;
	width: 640px;
	margin: 30px 80px;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px Hiragino Kaku Gothic Std;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #454545;
	border: none;
	border-bottom: 1px dotted #454545;
	background: transparent;
}

.ef input[type='text']:focus {
	border-bottom: 1px solid #da3c41;
	outline: none;
}

.cp_iptxt input[type='number'] {
	font: 15px/24px Hiragino Kaku Gothic Std;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #454545;
	border: none;
	border-bottom: 1px dotted #454545;
	background: transparent;
}

.ef input[type='number']:focus {
	border-bottom: 1px solid #da3c41;
	outline: none;
}

.article_container_sankasiyo{
  /* width: 800px; */
  /* padding: 0 50px; */
  padding-top: 8px;
  /* margin: 0px auto; */
  /* background-color: red; */
  background-color: #f5f5f5;
  position: relative;
  display: inline-block;
  padding-bottom: 1em;
}
/* ===== inputform end ===== */

.article_container_sankasiyo:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;/*線の上下位置*/
  display: inline-block;
  width: 85%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #454545;/*線の色*/
}

.sankasiyo{
  font-size: var(--fontsize-note);
  text-align: center;
  color: #454545;
}

.ranking_comment_footer{
  position: fixed;
  bottom: 0; /*下に固定*/
  left:0;
  /* height: 150px; */
  /* background-color: blue; */
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0px, rgba(0,0,0,0.65) 22.5px, rgba(0,0,0,0.8) 100%);
  color: white;
  font-family: Hiragino Kaku Gothic Std;
}

.comment_container{
  width: 800px;
  height: 100px;
  margin: 0 auto;
  overflow: scroll;
  top:0;
}

.comment_container.comment_open{
  height: 400px;
}

.comment_post_blank{
  clear: both;
  height: 20px;
  padding: 0;
  margin: 0;
}

.comment_post{
  display: flex;
  clear: both;
  padding: 2px 0;
	margin: 0 80px;
}

.comment_name{
  /* float: left; */
  margin: 0;
  font-size: calc(var(--fontsize-note)*0.8);
}

.comment_note{
  /* float: left; */
  margin: 0;
  padding-left: 10px;
  font-size: calc(var(--fontsize-note)*0.8);
  font-family: HiraKakuProN-W6;
}

.comment_time{
  /* float: left; */
  margin: 0;
  padding: 2px 0 0 10px;
  font-size: calc(var(--fontsize-note)*0.5);
  font-family: HiraKakuProN-W6;
  color: #999999;
}

.commentform_container{
  /* display: flex; */
  /* position:  */
  width: 800px;
  margin: 0 auto;
  height: auto;
  top:0;
}

.comment_more{
  position: absolute;
  width: 200px;
  height: 24px;
  float: none;
  vertical-align: middle;
  font-size: calc(var(--fontsize-note)*0.8);
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #565656;
  color: #454545;
  background-color: #FFFFFF;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.comment_more-a{
  display: block;
  padding: 0.2em;
}

.comment_more:hover{
  background-color: #565656;
  color: white;
}

.commentform_innner{
  display: flex;
}

.cp_iptxt_comment {
	position: relative;
	width: 450px;
	margin: 10px 10px 10px 10px;
}
.cp_iptxt_comment input[type='text'] {
  font-family: HiraKakuProN-W6;
  font-size: calc(var(--fontsize-note)*0.8);
	box-sizing: border-box;
	width: 100%;
	padding: 0.2em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #FFFFFF;
	border: none;
	border-bottom: 1px dotted #FFFFFF;
	background: transparent;
}

.ef_comment input[type='text']:focus {
	border-bottom: 1px solid #FF0000;
	outline: none;
}

.cp_iptxt_commentname {
	position: relative;
	width: 170px;
	margin: 10px 10px 10px 80px;
}
.cp_iptxt_commentname input[type='text'] {
	/* font: 16px Hiragino Kaku Gothic Std; */
  font-family: HiraKakuProN-W6;
  font-size: calc(var(--fontsize-note)*0.8);
	box-sizing: border-box;
	width: 100%;
	padding: 0.2em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #FFFFFF;
	border: none;
	border-bottom: 1px dotted #FFFFFF;
	background: transparent;
}

.comment_btn{
  width:50px;
  height:24px;
  margin: 13px 80px 13px 10px;
  padding;3px 0;
  border-radius: var(--border-radius);
  background: transparent;
  color: #FFFFFF;
}

.comment_btn:hover{
  background-color: #FFFFFF;
  color: #565656;
}
